.change {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 20px;
  border-radius: 10px;
}@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --white-color: #fff;
  --greenish-color: #006d77;
}

::placeholder {
  font-size: 15px;
  font-family: inherit;
  color: #006D77FF;
}

:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  transition: 0.2s linear;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.optional {
  font-weight: lighter;
  font-size: 15px;
}

.form-option:not(:last-child) {
  color: black;
  margin-bottom: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  background: hsl(232, 65%, 81%);
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
  ),
  url("https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  overflow-y: scroll;
}
.container {
  width: 70%;
  margin: 75px auto;
}

.container header {
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 25px;
}

.container header h1 {
  margin-bottom: 10px;
}

.container form {
  padding: 30px;
  color: white;
  border-radius: 6px;
}

.form-option p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

input,
textarea,
select {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 18px;
  font-family: inherit;
  -webkit-accent-color: #006D77FF;
  -moz-accent-color: #006D77FF;
  accent-color: #006D77FF;
}

select option {
  text-transform: capitalize;
}

textarea {
  resize: vertical;
  height: 180px;
}

.form-radio-option {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.form-radio-option label,
.form-checkbox-option label {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
}

.form-radio-option input,
.form-checkbox-option input {
  display: inline-block;
  margin-right: 5px;
  width: 1.2rem;
  height: 1.2rem;
}

.submit {
  display: block;
  background: #0096a3;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  transition: background-color 0.2s linear;
}

.submit:hover {
  background: #00838f;
}

@media (max-width: 991px) {
  .container {
    width: 88%;
  }
}
@media (max-width: 667px) {
  .container {
    width: 100%;
  }

  .container header h1 {
    font-size: 26px;
  }

  .container form {
    padding: 15px;
  }
}


.form-modif {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

input {
  background: white;
}
