<ion-tabs>
  <ion-tab-bar slot="bottom" color="white">
    <ion-tab-button tab="home">
      <ion-icon color="primary" name="home"></ion-icon>
      <ion-label color="primary" >Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="foods">
      <ion-icon color="primary" name="film"></ion-icon>
      <ion-label color="primary">Foods</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="photos">
      <ion-icon color="primary" name="camera"></ion-icon>
      <ion-label color="primary">Photos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon color="primary" name="people"></ion-icon>
      <ion-label color="primary">About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
