<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/foods"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-black" *ngIf="food">{{food.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="new-background-color">
  <div *ngIf="!modif">
    <ion-grid *ngIf="food">

      <section id="food-menu">
        <div class="border-menu">
          <div class="food-menu-container container">
            <div class="food-menu-item">
              <div class="food-img">
                <img class="img-perso" [src]="food.picture" alt="">
              </div>
              <div class="food-description">
                <div class="space-title">
                  <h2 class="food-title text-black d-flex justify-content-center">{{ food.name }}</h2>
                  <p class="content-country text-black"><img class="img-food-list mr-3" src="/assets/food-list/time.svg" width="30" height="30" alt="">
                    <span class="pr-1">Preparation Time </span>
                    <span class="primary">{{ food.timePreparation }}</span>
                  </p>
                </div>
                <div>
                  <div class="space-title">
                    <p class="content-country text-black">
                      <img class="img-food-list mr-3" width="30" height="30" src="/assets/food-list/country.svg" alt="">
                      <span class="pr-1">Country :</span> <span class="primary">{{food.country}}</span>
                    </p>
                    <p class="content-country text-black">
                      <img class="img-food-list mr-3" width="30" height="30" src="/assets/food-list/list.svg" alt="">
                      <span class="pr-1">Category :</span> <span class="primary">{{food.category}}</span>
                    </p>
                  </div>
                  <p class="content-country text-black">
                    <img class="img-food-list mr-3" width="30" height="30" src="/assets/food-list/ingredients.svg" alt="">
                    <span class="pr-1">Ingredients:</span> <span class="primary">{{food.ingredients}}</span>
                  </p>
                  <p class="content-country text-black">
                    <img class="img-food-list mr-3" width="30" height="30" src="/assets/food-list/description.svg" alt="">
                    <span class="pr-1">Description:</span> <span class="primary">{{food.description}}</span>
                  </p>
                  <p class="food-price content-country text-black">
                    <img class="img-food-list mr-3" width="30" height="30"  src="/assets/food-list/user.svg" alt="">
                    <span class="primary">Made by {{food.creator}} at {{food.releaseDate}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ion-grid>
    <div class="d-flex w-100 ion-justify-content-center">
      <ion-button (click)="setModif()">Modify</ion-button>
      <ion-button (click)="onDelete(food.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div *ngIf="modif && food">
    <ion-item>
      <ion-label>Name of the dish</ion-label>
      <ion-input type="text" [(ngModel)]="food.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Picture</ion-label>
      <ion-input type="text" [(ngModel)]="food.picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-input type="text" [(ngModel)]="food.category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-input type="text" [(ngModel)]="food.country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ingredients</ion-label>
      <ion-input type="text" [(ngModel)]="food.ingredients"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Time Preparation</ion-label>
      <ion-input type="time" [(ngModel)]="food.timePreparation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" [(ngModel)]="food.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Your name</ion-label>
      <ion-input type="text" [(ngModel)]="food.creator"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Creation date</ion-label>
      <ion-input type="date" [(ngModel)]="food.releaseDate"></ion-input>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onModif()">Modify</ion-button>
    </p>
  </div>
</ion-content>
